.foot__under{
    background-color: #423737;
    color: #f1b800;
    padding: 15px;
}

.foot__info h3{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #423737;
}

.foot{
    background-color: rgba(9,91,100,0.1);
}