.btn{
    background-color :#423737;
    color :#F1B800;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    
}
p{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.remove{
    background-color:#F1B800;
    color :#423737;
    
    
}